.navbar .btn-link {
  color: $navbar-light-color;
  padding: 0.4375rem 0;
}

#mode {
  padding: 0.5rem;
}

.btn-link:focus {
  outline: 0;
  box-shadow: none;
}

#navigation {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(lg) {
  #mode {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }

  .navbar .btn-link {
    padding: 0.5625em 0.25rem 0.5rem 0.125rem;
  }
}

.navbar .btn-link:hover {
  color: $navbar-light-hover-color;
}

.navbar .btn-link:active {
  color: $navbar-light-active-color;
}

body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

[data-dark-mode] body .toggle-light {
  display: block;
}

[data-dark-mode] body .toggle-dark {
  display: none;
}

pre {
  position: relative;
}

@include media-breakpoint-down(md) {
  .btn-copy {
    display: none;
  }
}

.btn-copy {
  transition: opacity 0.3s ease-in-out;
  visibility: hidden !important;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  z-index: 10;
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  padding: 0.25rem 0.5rem;
  color: $color-btn-text;
  //background-color: $color-btn-bg;
  //border-color: $color-btn-text;
}

.btn-copy:hover {
  color: $color-btn-text;
  //background-color: lighten($color-btn-bg, 5%);
  //border-color: lighten($color-btn-text, 15%);
}

.btn-copy:focus {
  color: $color-btn-text;
  //background-color: $color-btn-bg;
  //border-color: lighten($color-btn-text, 15%);
  box-shadow: none;
}

.btn-copy:active,
.btn-copy.active {
  color: $color-btn-text;
  //background-color: $color-btn-bg;
  //border-color: lighten($color-btn-text, 15%);
}

.btn-copy:active:focus,
.btn-copy.active:focus {
  box-shadow: none;
}

@include media-breakpoint-up(md) {
  pre:hover .btn-copy {
    visibility: visible !important;
  }
}

.btn-copy::after {
  content: url("images/clipboard.svg");
  display: block;
  color: $color-btn-text;
}

.btn-copy:hover::after {
  content: url("images/clipboard.svg");
  display: block;
  color: $color-btn-text;
}

.btn-copy:focus::after,
.btn-copy:active::after {
  content: "Copied";
  display: block;
  color: $color-btn-text;
}

.collapsible-sidebar {
  margin: 2.125rem 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0;
  //font-weight: $headings-font-weight;
  //font-size: $font-size-base;
  //text-transform: uppercase;
  color: $body-color;
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: $body-color;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,<svg t=\"1674008395577\" class=\"icon\" viewBox=\"0 0 1024 1024\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" p-id=\"2708\" width=\"16\" height=\"16\"><path d=\"M960.512 443.392q0 8.192 0.512 38.912t0.512 71.168 0.512 85.504 0.512 81.92q0 19.456-8.704 38.912t-25.6 35.328-40.448 25.6-53.248 9.728l-637.952 0q-21.504 0-44.544-9.216t-42.496-26.112-31.744-40.96-12.288-53.76l0-439.296q0-62.464 34.304-97.792t94.72-35.328l52.224 0 105.472 0q61.44 0 131.072-0.512t130.048-0.512l101.376 0 47.104 0q23.552 0 47.616 9.216t43.008 24.576 31.232 35.84 12.288 44.032l0 11.264q-28.672 0-75.264 0.512t-102.912 1.024-119.296 1.024-124.416 1.024-117.76 0.512l-99.328 0q-25.6 0-44.544 15.872t-18.944 45.568-0.512 64-0.512 62.976l0 66.56 1.024 0 0 30.72q0 13.312 9.216 22.528t22.528 9.216 22.528-9.216 9.216-22.528l0-32.768 2.048 0-2.048-191.488 603.136 1.024q19.456 2.048 37.376 10.24t31.744 23.04 22.528 37.376 8.704 54.272z\" p-id=\"2709\"></path></svg>");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
}

.btn-toggle[aria-expanded="true"] {
  color: $body-color;
}

.btn-toggle[aria-expanded="true"]::before {
  content: url("data:image/svg+xml,<svg t=\"1673928818020\" class=\"icon\" viewBox=\"0 0 1024 1024\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" p-id=\"2729\" width=\"16\" height=\"16\"><path d=\"M855.04 385.024q19.456 2.048 38.912 10.24t33.792 23.04 21.504 37.376 2.048 54.272q-2.048 8.192-8.192 40.448t-14.336 74.24-18.432 86.528-19.456 76.288q-5.12 18.432-14.848 37.888t-25.088 35.328-36.864 26.112-51.2 10.24l-567.296 0q-21.504 0-44.544-9.216t-42.496-26.112-31.744-40.96-12.288-53.76l0-439.296q0-62.464 33.792-97.792t95.232-35.328l503.808 0q22.528 0 46.592 8.704t43.52 24.064 31.744 35.84 12.288 44.032l0 11.264-53.248 0q-40.96 0-95.744-0.512t-116.736-0.512-115.712-0.512-92.672-0.512l-47.104 0q-26.624 0-41.472 16.896t-23.04 44.544q-8.192 29.696-18.432 62.976t-18.432 61.952q-10.24 33.792-20.48 65.536-2.048 8.192-2.048 13.312 0 17.408 11.776 29.184t29.184 11.776q31.744 0 43.008-39.936l54.272-198.656q133.12 1.024 243.712 1.024l286.72 0z\" p-id=\"2730\"></path></svg>");
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: transparent;
  color: $link-color;
}

.btn-toggle-nav a.active {
  color: $link-color;
}

.dropdown-menu {
  /*
  width: 100%;
  */

  width: auto;
}

@include media-breakpoint-up(lg) {
  .dropdown-menu {
    width: auto;
  }
}

.doks-navbar .dropdown-menu,
.doks-subnavbar .dropdown-menu {
  font-size: 0.875rem;
}

.doks-navbar .dropdown-item.current,
.doks-subnavbar .dropdown-item.current {
  font-weight: 600;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem top 0.6rem;
  background-size: 0.75rem 0.75rem;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: 1.5rem;
}

.offcanvas-header .btn-close {
  margin-right: 0 !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-caret {
  margin-left: -0.1875rem;
  margin-right: -0.3125rem;
}

.dropdown-menu-main .dropdown-item {
  color: inherit;
  font-size: $font-size-base;
  font-weight: 400;
  text-decoration: none;
}

.dropdown-menu-main .dropdown-item:hover {
  background-color: transparent;
  color: $primary;
}

.dropdown-menu-main .dropdown-item.active {
  color: $primary;
  font-weight: 400;
  text-decoration: none;
  background-color: inherit;
}

.dropdown-menu-main .dropdown-item.active:hover {
  background-color: transparent;
}
